<section>
    <div id="welcome">
        <h2>Configuración</h2>
    </div>
    <h3>Opciones de pantalla</h3>

    <article>
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 3v2"></path>
                <path d="M12 19v2"></path>
                <path d="M4.22 4.22l1.42 1.42"></path>
                <path d="M18.36 18.36l1.42 1.42"></path>
                <path d="M1 12h2"></path>
                <path d="M21 12h2"></path>
                <path d="M4.22 19.78l1.42-1.42"></path>
                <path d="M18.36 5.64l1.42-1.42"></path>
                <circle cx="12" cy="12" r="5"></circle>
            </svg>
            <h4>Modo oscuro</h4>
        </div>
        <div class="status">
            <div id="btn-container">
                <button id="darkModeToggle">Activar modo oscuro</button>
            </div>
        </div>
    </article>

</section>
